{% extends "base.html" %}
{% block content %}

<div class="form" class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12" class="bg-dark text-white">
                <p class="bg-dark text-white">
                    {% if name %}
                    こんにちは {{ name }} さん
                    {% else %}
                    {{ message }}
                    {% endif %}
                </p>
                <form action="/post" method="post" class="form-inline">
                    <label for="name" class="bg-dark text-white">名前</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                    <button type="submit" class="btn btn-success">送信する</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}