<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>example1</string>
  <key>Program</key>
  <string>/Users/shell/example1.sh</string>
  <key>StartInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>/Users/shell/example1.out</string>
  <key>StandardErrorPath</key>
  <string>/Users/shell/example1.err</string>
</dict>
</plist>