<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>example2</string>
  <key>Program</key>
  <string>/Users/shell/example.sh</string>
  <key>StartCalendarInterval</key>
  <dict>
      <key>Minute</key>
      <integer>0</integer>
      <key>Hour</key>
      <integer>2</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/shell/example2.out</string>
  <key>StandardErrorPath</key>
  <string>/Users/shell/example2.err</string>
</dict>
</plist>