body, #main{
    background-color: #111;
    color:#eee;
}

#main{
    padding:10px;
}

.box1 {
  background-color: #333;
  color:#eee;
  width:45%;
  height:200px;
}

.box2 {
    background-color: #333;
    color:#0f9338;
    width:90%;
    height:30px;
}
