{% extends "base.html" %}
{% block content %}

<div class="form" class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12" class="bg-dark text-white">
                <p class="bg-dark text-white">
                    <!-- GETパラメータを取得したとき(変数nameに値がある)の表示 -->
                    {% if name %}
                    ページ番号: {{ name }} 
                    <!-- GETパラメータを取得しなかったとき(変数nameに値がない)の表示 -->
                    {% else %}
                    {{ message }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}